Package: myprogram
Version: 1.0-1
Architecture: amd64
Maintainer: turda.nikita@lll.kpi.ua
Installed-Size: 23
Depends: libc6 (>= 2.34), libstdc++6 (>= 4.4)
Section: utils
Priority: optional
Homepage: https://your.homepage.com
Description: description
 This is a description of my small program.
